.a-button {
    border: solid black 2px;
    color: black;
    cursor: pointer;
    padding: 3px;
    text-decoration: none;
}

.border-box {
    border: solid 2px black;
    margin-bottom: 5px;
}

.red {
    background-color: red;
}

.specials-button {
    margin-top: 1em;
}